* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    list-style: none;
    text-decoration: none;
    color: black;
}


/* General style */

:root {
    --primaryColor: 'lightgreen';
    --secondaryColor: 'brown';
    --blackColor: rgb(20, 20, 20);
    --grayColor: rgb(158, 158, 158);
}

.container {
    width: 95%;
    max-width: 1560px;
    margin: auto;
}

.flex {
    display: flex;
    align-items: center;
}

.jc {
    justify-content: center;
}

.js {
    justify-content: space-between;
}

.fd-c {
    flex-direction: column;
}

.gap-1 {
    gap: 10px;
}

.gap-2 {
    gap: 20px;
}

.gap-3 {
    gap: 30px;
}

.pt-1 {
    padding-top: 10px;
}

.pt-2 {
    padding-top: 20px;
}

.ptd {
    padding: 10px 0;
}

.ac {
    color: white;
}

.fs-3 {
    font-size: 3rem;
}

.fs-2 {
    font-size: 2.5rem;
}

.fs-1 {
    font-size: 0.8rem;
}


/* Component style */


/* Header style */

.search-items {
    width: 40%;
    background-color: #37F176;
    border-radius: 10px;
    border: 2px solid #37F176;
    overflow: hidden;
    display: flex;
    align-items: center;
    transition: .3s ease;
}

.search-items select {
    width: 15%;
    padding: 10px 0;
    font-size: 0.9rem;
    border-right: 1px solid rgb(214, 214, 214);
    background-color: #37F176;
    cursor: pointer;
}

.search-items .search-icon {
    padding: 0 10px !important;
    color: white !important;
    font-size: 1.5rem;
    align-items: center;
    cursor: pointer;
}

.search-items:hover {
    background-color: #37F176!important;
}

span {
    cursor: pointer;
    border: 2px solid transparent;
    padding: 5px;
    border-radius: 5px;
}

span:hover {
    border: 2px solid #37F176;
}


/* Hero Style */

.hero-container {
    position: relative;
    display: flex;
    align-items: center;
    padding-top: 30px;
    background: url('../images/jametlene-reskp-vUVa3_oGvXE-unsplash.jpg');
    background-position: center;
    background-size: 100%;
    overflow: hidden;
}

.hero-container::before {
    content: '';
    position: absolute;
    top: 20%;
    right: 24%;
    width: 100%;
    background: #BFC20E;
    transform: rotate(65deg);
    height: 100vh;
}

.hero-container .text {
    margin-top: 100px;
    margin-left: 50px;
    text-align: left !important;
    z-index: 1;
}

.hero-container h1,
.hero-container span {
    font-size: 2.5rem;
    color: rgb(0, 0, 0);
    font-weight: 700;
}

.hero-container span {
    color: #ffffff;
}


/* Card */

.card {
    position: relative;
    width: 222px;
    height: 300px;
    box-shadow: 0px 1px 13px rgba(141, 141, 141, 0.1);
    cursor: pointer;
    transition: all 120ms;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    background: #fff;
    padding: 0.5em;
    gap: 10px;
    flex-direction: column;
    overflow: hidden;
}

.card .image {
    width: 222px;
    height: 150px;
    overflow: hidden;
}

.card .image img {
    width: 100%;
}

.card small {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
    border-radius: 5px;
    background-color: rgb(190, 49, 49);
    color: white;
}

.card .text {
    line-height: 1.5;
}

.card .text p {
    margin-bottom: 10px;
}

.card .text h1 {
    font-size: 1.2rem;
}

.card .btn {
    padding: 6px 20px;
    background-color: #37F176;
    border-radius: 5px;
    border: 2px solid transparent;
    transition: all 520ms;
}

.card .btn:hover {
    background-color: transparent;
    border: 2px solid #37F176;
}

.footer-links {
    width: 75%;
    margin: auto;
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-links ul {
    line-height: 1.5;
}

.footer-links ul h1 {
    color: white;
    font-size: 1.1rem;
}

.footer-links ul li a {
    font-size: 14px;
    color: rgb(228, 225, 225);
    border: 1px solid transparent;
}

.footer-links ul li a:hover {
    border: 1px solid rgb(228, 225, 225)
}

.footer-down {
    padding: 20px;
    background-color: #1c2631;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-down small {
    color: rgb(223, 223, 223);
}